{% extends 'app_enzocopto/base.html' %}
{% load static %}

{% block title %}Clientes - Empresa Reclutamiento{% endblock %}
{% block content %}
<a href="{% url 'index' %}" class="btn-volver">← Volver al Inicio</a>
<h2 class="text-center mb-4">Categoría: Clientes</h2>
<div class="row">
    {% for cliente in clientes %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{% static 'app_enzocopto/'|add:cliente.imagen %}" class="card-img-top" alt="Cliente {{ cliente.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ cliente.nombre }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ cliente.profesion_oficio }}</h6>
                <p class="card-text">{{ cliente.reseña }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}