{% extends 'app_enzocopto/base.html' %}
{% load static %}

{% block title %}Egresados - Empresa Reclutamiento{% endblock %}
{% block content %}
<a href="{% url 'index' %}" class="btn-volver">← Volver al Inicio</a>
<h2 class="text-center mb-4">Categoría: Egresados</h2>
<div class="row">
    {% for egresado in egresados %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{% static 'app_enzocopto/'|add:egresado.imagen %}" class="card-img-top" alt="Egresado {{ egresado.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ egresado.nombre }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ egresado.empresa }}</h6>
                <p class="card-text">{{ egresado.opinion }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}