{% extends 'app_enzocopto/base.html' %}
{% load static %}

{% block title %}Egresados - Empresa Reclutamiento{% endblock %}
{% block content %}
<h2 class="text-center mb-4">Categoría: Egresados</h2>
<div class="row">
    {% for i in "12345678" %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{% static 'app_enzocopto/imagen_'|add:i|add:'_egresados.jpg' %}" class="card-img-top" alt="Egresado {{ i }}">
            <div class="card-body">
                <h5 class="card-title">Nombre {{ i }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Empresa {{ i }}</h6>
                <p class="card-text">Opinión del egresado {{ i }}: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
