{% extends 'app_enzocopto/base.html' %}
{% load static %}

{% block title %}Personal - Empresa Reclutamiento{% endblock %}
{% block content %}
<a href="{% url 'index' %}" class="btn-volver">← Volver al Inicio</a>
<h2 class="text-center mb-4">Categoría: Personal</h2>
<div class="row">
    {% for persona in equipo %}
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ persona.nombre }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ persona.cargo }}</h6>
                <p class="card-text">{{ persona.descripcion }}</p>
                <div class="personal-images mt-3">
                    <div class="row">
                        <div class="col-6">
                            <img src="{% static 'app_enzocopto/'|add:persona.imagen1 %}" alt="Imagen de {{ persona.nombre }}" class="img-fluid rounded">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'app_enzocopto/'|add:persona.imagen2 %}" alt="Imagen de {{ persona.nombre }}" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}